<div class="my-events">
  <div class="container" ng-if="$ctrl.loaded">
    <cg-breadcrumbs>
      <cg-crumb title="My Events"></cg-crumb>
    </cg-breadcrumbs>

    <uib-tabset>
      <uib-tab index="0" heading="I'm Going">
        <div ng-if="$ctrl.events.length === 0">Your do have any events to go. Try find one that you interested in!</div>
        <event-list-items events="$ctrl.events"></event-list-items>
      </uib-tab>
      <uib-tab index="1" heading="I'm Hosting">
        <div ng-if="$ctrl.events.length === 0">Your do not host any events. Why don't you create one!</div>
        <event-list-items events="$ctrl.events"></event-list-items>
      </uib-tab>
    </uib-tabset>

  </div>
</div>
