<div class="event-list">
  <div class="container" ng-if="$ctrl.loaded">
    <cg-breadcrumbs>
      <cg-crumb title="Events"></cg-crumb>
    </cg-breadcrumbs>
    <search-bar typed-text="$ctrl.searchText"></search-bar>
    <div class="btn-padding" ng-if="$ctrl.currentUser._id">
      <button type="button" class="btn btn-default pull-right" ui-sref="event.event-detail">Create</button>
    </div>
    <div ng-if="$ctrl.events.length === 0">Your search - {{$ctrl.searchText}} - did not match any documents.</div>
    <event-list-items events="$ctrl.events"></event-list-items>
  </div>
</div>
