$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '../assets/styles/_variables.scss';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import '../assets/styles/common.scss';

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin.scss';
@import 'main/main.scss';
@import '../components/event/event.scss';
@import '../components/event/components/event-list/event-list.scss';
@import '../components/event/components/event-list-items/event-list-items.scss';
@import '../components/event/components/event-detail/event-detail';
@import '../components/footer/footer.scss';

// Letsgo Web
@import '../components/letsgo-web/components/cg-breadcrumbs/cg-breadcrumbs.scss';
@import '../components/letsgo-web/components/cg-breadcrumbs/components/cg-crumb/cg-crumb.scss';
/* endinject */
