$icon-font-path: '/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-social/bootstrap-social.scss';
$fa-font-path: '/assets/fonts/font-awesome/';
@import '~font-awesome/scss/font-awesome';
@import '../assets/styles/_variables.scss';

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,900|Roboto:300,500,700,900);

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@import '../assets/styles/common.scss';

// Component styles are injected through gulp
/* inject:scss */
@import 'admin/admin';
@import 'main/main';
@import '../components/event/components/event-detail/components/event-detail-display/event-detail-display';
@import '../components/event/components/event-detail/components/event-detail-edit/event-detail-edit';
@import '../components/event/components/event-detail/event-detail';
@import '../components/event/components/event-list-items/event-list-items';
@import '../components/event/components/event-list/event-list';
@import '../components/event/components/my-events/my-events';
@import '../components/event/event';
@import '../components/footer/footer';
@import '../components/letsgo-web/components/cg-breadcrumbs/cg-breadcrumbs';
@import '../components/letsgo-web/components/cg-breadcrumbs/components/cg-crumb/cg-crumb';
@import '../components/letsgo-web/components/cg-search-bar/cg-search-bar';
@import '../components/letsgo-web/components/cg-simple-profile/cg-simple-profile';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
@import '../components/search-bar/search-bar';
/* endinject */
