<div class="event-detail-display">

  <button ng-if="$ctrl.isLoggedIn" class="btn btn-default pull-right"
          ng-click="$ctrl.onFavoriteChange(!$ctrl.isFavorite, $ctrl.event)">
    <i ng-if="$ctrl.isFavorite" class="material-icons red">favorite</i>
    <i ng-if="!$ctrl.isFavorite" class="material-icons red">favorite_border</i>
    <span ng-bind="$ctrl.event.favoritesBy.length"></span>
  </button>

  <form name="eventForm" ng-if="$ctrl.event">
    <div class="padding-top">
      <label>Name</label>
      <div ng-bind="::$ctrl.event.name"></div>
    </div>

    <div class="padding-top">
      <label>What</label>
      <div ng-bind="::$ctrl.event.what"></div>
    </div>

    <div class="padding-top">
      <label>When</label>
      <div ng-bind="::$ctrl.displayedWhen"></div>
    </div>

    <div class="padding-top">
      <label>Where</label>
      <div ng-bind="::$ctrl.event.where.address"></div>
    </div>

    <div class="padding-top" ng-if="$ctrl.displayActionButtons">
      <button class="btn btn-primary" ng-if="!$ctrl.isCurrentUserGoing" ng-click="$ctrl.onGoingEvent($ctrl.event)">Going</button>
      <button class="btn btn-primary" ng-if="$ctrl.isCurrentUserGoing" ng-click="$ctrl.onNotGoingEvent($ctrl.event)">Not Going</button>
    </div>

    <div class="padding-top" ng-if="$ctrl.displayActionButtons && $ctrl.isCurrentUserGoing">
      <label>Note</label>
      <input type="text" class="form-control" ng-model="$ctrl.myNote" placeholder="I will bring drinks!"/>
      <br/>
      <button class="btn btn-primary" ng-click="$ctrl.updateMyNote($ctrl.event)">Update Note</button>
    </div>

    <div class="padding-top">
      <label>Who</label>
      <div class="row">
        <div class="col-lg-12">
          <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="participant in $ctrl.event.participants">
            <li>
              <cg-simple-profile uib-popover="{{participant.note}}" popover-trigger="'mouseenter'" user="participant.user"></cg-simple-profile>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </form>

  <div ng-if="$ctrl.errorMessages.length > 0">
    <div ng-repeat="error in $ctrl.errorMessages">
      <span ng-bind="error"></span>
    </div>
  </div>
</div>
