<div class="event-edit">
  <div class="container">

    <cg-breadcrumbs>
      <cg-crumb target="event.event-list" title="Events"></cg-crumb>
      <cg-crumb title="Create Event"></cg-crumb>
    </cg-breadcrumbs>

    <div class="padding-left" ng-if="$ctrl.event.host._id">
      <label>Host: </label>
      <cg-simple-profile user="$ctrl.event.host"></cg-simple-profile>
    </div>

    <form name="eventForm">
      <div class="padding-top">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name of The Event" required ng-model="$ctrl.event.name" ng-readonly="$ctrl.isReadonly">
      </div>

      <div class="padding-top">
        <label for="what">What</label>
        <textarea class="form-control" rows="5" id="what" placeholder="What To Do" required ng-model="$ctrl.event.what" ng-readonly="$ctrl.isReadonly"></textarea>
      </div>

      <div class="padding-top">
        <label>When</label>
        <p class="input-group">
          <input type="text" class="form-control"
                 uib-datepicker-popup="{{'yyyy/MM/dd'}}"
                 ng-model="$ctrl.selectedDate"
                 is-open="$ctrl.datepickerPopup.opened"
                 ng-required="true"
                 ng-change="$ctrl.onDateTimeChange()"
                 placeholder="What Date"
                 close-text="Close"
                 ng-readonly="$ctrl.isReadonly"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-disabled="$ctrl.isReadonly"
                    ng-click="$ctrl.openDatePopup()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>

        <p class="input-group">
          <div uib-timepicker
               ng-change="$ctrl.onDateTimeChange()"
               ng-disabled="$ctrl.isReadonly"
               ng-model="$ctrl.selectedTime" hour-step="1" minute-step="1" show-meridian="false">
          </div>
        </p>
      </div>

      <div class="padding-top">
        <label for="where">Where</label>
        <input type="text" class="form-control" id="where" placeholder="Where To Go" required ng-model="$ctrl.event.where" ng-readonly="$ctrl.isReadonly">
      </div>

      <div class="padding-top" ng-if="!$ctrl.isReadonly">
        <button class="btn btn-primary" ng-if="!$ctrl.event._id" ng-click="eventForm.$valid && $ctrl.onSaveOrUpdate($ctrl.event)">Save</button>
        <button class="btn btn-primary" ng-if="$ctrl.event._id" ng-click="eventForm.$valid && $ctrl.onSaveOrUpdate($ctrl.event)">Update</button>
        <button class="btn btn-default" ui-sref="event.event-list">Cancel</button>
        <div class="padding-top" ng-if="$ctrl.event._id">
          <button class="btn btn-warning" ui-sref="event.event-list" ng-click="$ctrl.onDelete($ctrl.event._id)">Delete</button>
          <small class="form-text text-muted">
            Be careful! You won't be able to find deleted event anymore!
          </small>
        </div>
      </div>
    </form>

    <div ng-if="$ctrl.errorMessages.length > 0">
      <div ng-repeat="error in $ctrl.errorMessages">
        <span ng-bind="error"></span>
      </div>
    </div>
  </div>
</div>
